$margin-section:30px;
$padding-section:30px;
$margin-section-mb:26px 0px 5px 26px;
$object-position-center: 50% 100%;
$object-position-left: 50% 100%;
$color-mark: #779341;
$color-border-click:#4285F4;
$color-border:gray;
$color-texts: #000000;
$bg-white:#FFFFFF;
$color-textinbox:#808080;